<table class="table">
    <thead>
      <tr>
        <th scope="col">Sr No.</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Zipcode</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of studentData, index as i" [ngSwitch]="student.state">
        <th scope="row">{{i+1}}</th>
        <td>{{student.email}}</td>
        <td>{{hiddenPassword(i)}}</td>
        <td>{{student.address}}</td>
        <td>{{student.city}}</td>
        
        <td *ngSwitchCase="1">Gujarat</td>
        <td *ngSwitchCase="2">Punjab</td>
        <td *ngSwitchCase="3">Haryana</td>
        <td *ngSwitchCase="4">Maharashtra</td>
        
        <td>{{student.email}}</td>
        <td>
            <button class="btn btn-secondary" (click)="updateData(i)">Update</button>
            <button class="btn btn-danger mx-3" (click)="deleteData(i)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
